
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background: rgb(103,4,201);
    background: linear-gradient(90deg, rgba(103,4,201,1) 0%, rgba(9,85,121,1) 45%, rgba(0,212,255,1) 79%, rgba(0,212,255,1) 100%); 
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #222222;
    color: white;
    font-size: 22px;
}

.baner {
    display: flex;
    align-items: center;
}

.header-search {
    margin-left: 50px;
}

#field {
    background-color: #222222;
    border: none;
    color: white;
    font-size: 18px;
}


.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.image {
    width: 330px;
    height: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card {
    width: 330px;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #222222;
    transition: all .3s ease;
    text-align: center;

}

.main a {
    text-decoration: none;
    color: white; 
    margin: 20px;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.card:hover {
    transform: scale(1.05);
}

.title {
    font-size: 18px;
}

.rating {
    font-style: italic;
}

.homepage a {
    text-decoration: none;
    color: white;
}

.homepage {
    margin-right: 30px;
}

.opis {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: white;
    padding-top: 15px;
    padding-bottom: 30px;
}

.game-image {
    width: 100%;
    height: 40%;
}

.left {
    width: 50%;
}

.right {
    width: 50%;

}

.game-name {
    font-size: 48px;
    
}

.game-developer {
    margin-top: -5px;
    margin-bottom: 3px;
}


.hr {
    width: 95%;
    background: #fff;
    height: 1px;
    margin-bottom: 15px;

}

.game-desc
 {
    text-align: justify;
    width: 95%;
    margin-bottom: 10px;
}

.game-date {
    margin-bottom: 15px;
}
.game-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.game-meta {
    margin-left: 30px;
    padding: 8px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.game-info1 {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

ul, li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    text-decoration: underline;
}

.game-platforms{
    margin-bottom: 10px;
}

.gameError {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
    margin-top: 20px;
    width: fit-content;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.gameError a {
    color: aqua;
}

.gameError h2 {
    font-style: italic;
    font-size: 36px;
}

.next-page {
     width: 50px;
     height: 50px;
    border-radius: 5px;
    background-color: #222222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    padding: 10px;
}

.footer  {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    
}